<h1> <%= @cat.name %> </h1>
<table>
  <tr>
  <% @cat.attributes.keys.each do |header|  %>
    <th> <%= header.capitalize %> </th>
  <% end %>
    <th> Age </th>
  </tr>

  <tr>
  <% @cat.attributes.values.each do |value| %>
    <td> <%= value %> </td>
  <% end %>
    <td> <%= @cat.age %> </td>
  </tr>
</table>

<%= link_to "Edit #{@cat.name}", edit_cat_url %>
<br>
<%= link_to "<< Back to all cats", cats_url %>
